body {
  background-color: linear-gradient(red, yellow, blue);
  font-family: "Merriweather",serif;
  justify-content: center;  
  margin: 0;
  text-align: center;
  background: #eb01a5; 
}

h1 {
  color: #66BBF;
  font-family: 'Sacramento', cursive;  
  font-size: 90px auto 0 auto;
  margin-top: 50;
}

h2 {
  color: #66BBF;  
  font-family: 'Monteserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Monteserrat', sans-serif;
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;  
    position: "reltive";
}

.middle-container {

}

.bottom-container {

}

.pro {
 text-decoraion: underline; 
}

.top-cloud {
  position: absolute;
  right:300px;
  top::50px
}
