body {
  background-color: #EB01A5;
  font-family: "Merriweather",serif;
  text-align: center;  
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BBF;
  font-family: 'Sacramento', cursive;  
  font-size: 90px auto 0 auto;
  line-height: 2;
  margin-top: 50;
}

h2 {
  color: #66BBF;  
  font-family: 'Monteserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal
}

h3 {
  OLOR: #11999E;
  font-family: 'Monteserrat', sans-serif;
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;  
    position: "reltive";
}

.middle-container {

}

.bottom-container {

}

.pro {
 text-decoraion: underline; 
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}  

.top-cloud {
  position: absolute;
  right:300px;
  top::50px
}
